* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "consolas", sans-serif;
  font-size: 16px;
  color: black;
  background-color: azure;
  background: linear-gradient(to top, #e0f7fa, #80deea);
  background-repeat: no-repeat;
  background-attachment: fixed;
  line-height: 1.6;
}

h1{
    font-size: 32px;
    color: crimson;
    font-weight: bold;
    text-align: center;
    margin: 20px auto;
    border: 3px solid black;
    padding: 10px;
    width: 50%;
    background-color: aqua;
}

h2{
    font-size: 28px;
    color: darkblue;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    width: 100%;
    border: 2px solid black;
    background-color: lightcyan;
}

img{
    display: block;
    margin: 20px auto;
    width: 40%;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title-card{
    width: 40%;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid black;
    background-color: lightcyan;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
    width: 40%;
    border: 2px solid black;
    background-color: azure;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
}

li{
    margin: 10px 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightyellow;
    transition: background-color 0.3s ease;
}

.selection-list{
    text-align: center;
}

.selection-list li {
    display: inline-block;
    
}


.content{
    width: 40%;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid black;
    background-color: lightcyan;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.normal-list{
    width: 100%;
    text-align: center;
}

#backtohome{
    margin: 20px 45%;
    padding: 10px;
    display: inline-block;
    text-align: center;
    border: 2px solid black;
}

a:hover{
    background-color: lightblue;
    color: red;
}